$color-blue: #02005B;
$color-orange: #FF7168;

// *{
//   border: 1px solid black;
// }
body {
  font-family: Helvetica, "Microsoft JhengHei";
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: $color-blue;
  color: rgba(255,255,255,0.95);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}

 /* CSS RESET*/

ul {
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 8px;
    background-color: $color-orange;
    margin-left: 10px;
  }
}

h4 {
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: solid 4px $color-orange;
  width: 40%;
  margin-left: 0;
}

.resume {
  display: flex;
  max-width: 950px;
  border: solid 8px #fff;
  padding: 50px;
  position: relative;
  .left, .right {
    padding: 15px;
  }
  .left {
    padding-right: 50px;
    flex: 5;
    border-right: solid 1px $color-orange;
  }
  .right {
    padding-left: 50px;
    flex: 7;
    padding-top: 150px;
  }
}

.listExperience
  >li {
    margin-bottom: 10px;
    &:nth-child(1) ul {
      border-color: $color-orange;
    }
    &:nth-child(2) ul {
      border-color: #FFA582;
    }
    &:nth-child(3) ul {
      border-color: #FFB087;
    }
    &:nth-child(4) ul {
      border-color: #FFDE9E;
    }
  }
  li {
    display: flex;
    ul {
      padding-left: 10px;
      margin-left: 10px;
      border-left: solid 4px #fff;
    }
  }

.listExperience>li:nth-child(1) ul{
  border-color: #FF7168
}

.decoration {
  width: 300px; height: 140px;
  background: linear-gradient(135deg, #FF5F5F, #FFFFAE);
  border-radius: 70px 0px 0px 70px;
  position: absolute;
  right: 0;
  top: 50px;
}


/* CIRCLE GRAPHIC*/
.listSkill {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .circle {
    width: 50px; height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,133,104, 0.4);
    &::after{
      content: "";
      display: block;
      background-color: $color-blue;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border-radius: 50%;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }


    .p90, .p180, .p270, .p360{
      width: 50%;
      height: 50%;
      position: absolute;
      left: 50%;
      top: 0;
      background-color: $color-orange;
    }
    .p180 {
      top: 50%;
    }
    .p270 {
      left: 0;
      top: 50%;
    }
    .p360 {
      left: 0;
      top: 0;
    }
  }
}


// List Program

.listProgram {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    .bar {
      width: 50%;
      height: 10px;
      border: solid 2px $color-orange;
      border-radius: 5px;
      .value {
        height: 100%;
        width: 60%;
        background: $color-orange;
      }
      .p10 {
        width: 10%;
      }
      .p20 {
        width: 20%;
      }
      .p30 {
        width: 30%;
      }
      .p40 {
        width: 40%;
      }
      .p50 {
        width: 50%;
      }
      .p60 {
        width: 60%;
      }
      .p70 {
        width: 70%;
      }
      .p80 {
        width: 80%;
      }
      .p90 {
        width: 90%;
      }
      .p100 {
        width: 100%;
      }
    }
  }
}

// Buttons

.btn {
  border: 3px solid $color-orange;
  padding: 5px 20px;
  margin-right: 10px;
}

.fill {
  background-color: $color-orange;
}
